# Gradle
.gradle/
build/
bin/

# IntelliJ IDEA
.idea/
*.iml
*.iws

# Visual Studio Code
.vscode/

# Spring Boot
HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# OS-specific files
.DS_Store
Thumbs.db
gradle/wrapper/gradle-wrapper.properties
